        
        <div class="footer">
            <div class="blank20"></div>           
              <div class="foot_Mid clearfix">
                    <div class="foot_MC">
                        <ul class="clearfix">
                            <li class="first">
                                <a href="#" target="_blank">关于我们</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">小吃推荐</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">吃货分享</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">我要推荐</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">地方特产</a>
                            </li>               
                            <li>
                                <a href="#" target="_blank">商家合作</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">用户反馈</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="copy mt-10 text-c">
                Copyright @ 2016 <a href="__APP__">远方的家 </a> All Right Reserved
            </div>
        </div>
        <script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var len = $(".post-item").length;        
            var cols = Math.ceil(len/3);
            if(cols){
                for(var i=1; i<=cols; i++){
                    $(".post-item").eq(3*i-3).css("margin-left", "0px");
                }
            } 
        });             
    </script>     
    <script type="text/javascript">
        $(function(){
            var len = $(".album-item").length;        
            var cols = Math.ceil(len/5);
            if(cols){
                for(var i=1; i<=cols; i++){
                    $(".album-item").eq(5*i-5).css("margin-left", "0px");
                }
            } 
        });             
    </script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui/js/h-ui.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/bootstrap-modal/2.2.4/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/bootstrap-modal/2.2.4/bootstrap-modal.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/H-ui/lib/jQuery.autocomplete/1.1/jquery.autocomplete.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/H-ui/lib/jQuery.autocomplete/1.1/demo.js"></script>
    <script type="text/javascript">
        $(function(){$(window).on("scroll",$backToTopFun);$backToTopFun();});
    </script>
    <!-- 专题页下拉加载js -->
     <script type="text/javascript">
            i = 1; //设置当前页数 
            $(function() {
                var totalpage = 10; //总页数，防止超过总页数继续滚动
                var winH = $(window).height(); //页面可视区域高度 
                $(window).scroll(function() {
                    if (i < totalpage) { // 当滚动的页数小于总页数的时候，继续加载
                        var pageH = $(document.body).height();
                        var scrollT = $(window).scrollTop(); //滚动条top 
                        var aa = (pageH - winH - scrollT) / winH;
                        if (aa < 0.01) {
                           getJson(i)
                        }
                    } else { //否则显示无数据
                        showEmpty();
                    }
                });
                getJson(0); //加载第一页
            });
            function getJson(page) {
                
                $.getJSON("__APP__/Ajax/index", {page: i}, function(json) {
                    if (json) {
                        var str = "";
                        $.each(json, function(index, array) {
                         var str = "<li class = 'post-item'><a href='__APP__/Index/post/id/' " + array['id'] +" class='pitem'><div class='pitem-cover' style='background:url(" + array['img'] + ");background-size:cover;background-position:50% 50%;'></div><div class='pitem-title text-overflow'>" + array['title'] + "</div><div class='pitem-content text-overflow' style='height:70px;white-space: pre-wrap'>" +array['description']+ "</div><ul class='pitem-info'><li class='info-item'><i class='info-icon icon-like'></i><span>收藏（" + array['collect'] + ")</span></li></ul></a></li>";

                            $("#reco-list").append(str);
                        });
                        mar_z();
                    } else {
                      mar_z();
                    }
                });
                i++;
            }
            
            function mar_z(){
                var len = $(".post-item").length;        
                var cols = Math.ceil(len/3);
                if(cols){
                    for(var i=1; i<=cols; i++){
                        $(".post-item").eq(3*i-3).css("margin-left", "0px");
                    }
            } 
            }
        </script>
    
    </body>
</html>