<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />--> 
        <title>远方的家-做最好的地方特产网站</title> 
        <meta name="keywords" content="关键词,5个左右,单个8汉字以内"> 
        <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！"> 
        <link rel="Bookmark" href="favicon.ico" > 
        <link rel="Shortcut Icon" href="favicon.ico" /> 
        <!--[if lt IE 9]>
        <script type="text/javascript" src="__PUBLIC__/H-ui/lib/html5.js"></script>
        <script type="text/javascript" src="__PUBLIC__/H-ui/lib/respond.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/H-ui/lib/PIE_IE678.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="__PUBLIC__/H-ui/static/h-ui/css/h-ui.min.css" />
        <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/H-ui/static/h-ui/css/style.css" rel="stylesheet" type="text/css" /><!--自己的样式-->
        <!--[if IE 6]>
        <script type="text/javascript" src="__PUBLIC__/H-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
        <script>DD_belatedPNG.fix('.pngfix,.icon');</script>
        <![endif]--> 
    </head> 
    <body>
        <div class="header">
            <div class="header_m middle">
                <div class="f-l">
                    <div class="logo">
                        <a href="__APP__/"><img src="__PUBLIC__/public/logo.png" alt="远方的家logo" /></a>
                    </div>
                </div>
                <div class="f-l nav lh-64">                
                    <a href="__APP__/">首页</a>  
                    <a href="__APP__/Index/zhuanti">专题</a>  
                    <a href="__APP__/Index/place">地方馆</a>  
                    <a href="__APP__/Index/xiaochi">小吃街</a> 
                    <a href="__APP__/">发现</a>                    
                </div>
                <div class="search f-l lh-64 ml-40">
                    <form method="get" action="__APP__/Search/Index">
                        <input placeholder="请输入内容" class="input-text ac_input" name="search_text" value="" id="search_text" autocomplete="on" type="text">
                        <button type="submit" class="btn" id="search_button">
                            <i class="Hui-iconfont">&#xe665;</i>
                        </button>
                    </form>
                </div>
                <div class="f-r">
                    <a data-toggle="modal" href="#myModal" class="login">登录/注册</a>                 
                </div>
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <h3 id="myModalLabel" class="text-c themcolor">登录</h3>
                        <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                    </div>
                    <div class="modal-body text-c">
                        <ul>
                            <li>
                                <i class="login-icon-weibo"></i>
                                <span class="f-18">微博账号登录</span>
                            </li>
                            <li>
                                <i class="login-icon-qq"></i>
                                <span class="f-18">QQ账号登录</span>
                            </li>
                        </ul>
                    </div>                       
                </div>              
            </div>
            <div class="header_b">                
            </div>
        </div>  