<include file="Public:header" />
<!--banner图-->
<div style="background-image: url(__APP__/Public/public/banner.jpg); background-color:#FF6633; opacity: 1;" class="slider-banner">
</div>
<div class="blank20"></div>
<div class="contents middle">
    <div class="zhuanti">
        <div class="title">
            <div class="f-20">
                精选专题
            </div>                    
        </div>
        <div class="blank20"></div>
        <div class="zhuanti_list">
            <ul class="reco-list" id="reco-list">
                <li class="post-item">
                    <a href="__APP__/Index/post/id/1" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img02.liwushuo.com/image/160107/e7in04opf.jpg-w720);background-size:cover;background-position:50% 50%;"></div>
                        <!--下面这个是NEW-->
                        <div class="new-flag flag-1030611"></div>
                        <div class="pitem-title text-overflow">
                            涨知识最适合情侣看的10部电影的10部电影的10部电影
                        </div>
                        <div class="pitem-content text-overflow" style="height:70px;white-space: pre-wrap">又过了一年，每次过了一年，每次过了一年，每次过了一年，每次过了一年，每次过了一年，每次过了一年， 每次最期盼的往往不再是过年的氛围，而是过年的七天假期，胡吃海塞。有时候也会怀念小时候浓浓的年味。盼了好...
                        </div>
                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>
                </li>







                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1030616" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img02.liwushuo.com/image/160107/yk8f0mij1.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="new-flag flag-1030616"></div>

                        <div class="pitem-title text-overflow" style="width:290px;">「涨知识」最适合情侣看的10部电影</div>




                        <div class="pitem-content">当我们和另一半看电影的时候在看什么？电影作为现代人放松的方式之一，除了休闲娱乐之外，多多少少都教会我们一些生活的道...</div>


                        <div class="pitem-event-cover" data-id="1030616" data-url="http://www.liwushuo.com/posts/1030616"></div>

                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1024410" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img03.liwushuo.com/image/160126/sirap5vlr.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="new-flag flag-1024410"></div>

                        <div class="pitem-title text-overflow" style="width:290px;">灵动俏皮，点亮冬季的气质感饰品</div>




                        <div class="pitem-content">寒冷冬季，仿佛所有打扮都是一个目的：保暖。为了保暖我们会不顾它是否臃肿，是否毫无美感。夏季买的小饰品是否已经被你遗...</div>


                        <div class="pitem-event-cover" data-id="1024410" data-url="http://www.liwushuo.com/posts/1024410"></div>

                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1032203" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img01.liwushuo.com/image/160119/ugxt1ciqx.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="new-flag flag-1032203"></div>

                        <div class="pitem-title text-overflow" style="width:290px;">视觉与味觉的碰撞之绿色</div>




                        <div class="pitem-content">不知道有多少美眉是抹茶控，只要点森么甜点或者饮品首选必须是抹茶，淡淡的抹茶清香每次闻到以后都会觉得心情格外好，小礼...</div>


                        <div class="pitem-event-cover" data-id="1032203" data-url="http://www.liwushuo.com/posts/1032203"></div>

                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1032975" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img03.liwushuo.com/image/160126/wversfmhx.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title text-overflow" style="width:290px;">#你为追星做过哪些事儿？#参与即得10积分</div>




                        <div class="pitem-content">前阵子在朋友圈里看到了这样一篇帖子：这个妹纸努力了6年…终于成功把男神啪啪啪了！</div>


                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1032757" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img03.liwushuo.com/image/160121/xzodcc5hi.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title  text-overflow" style="width:290px;">选钱包要走心，新年招财又吸睛</div>




                        <div class="pitem-content">过年大家都知道要穿新衣，戴新帽，除旧布新嘛。但是你造吗？新年最该换的其实是钱包！钱包的重要性不用小礼君多说了，想必...</div>

                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1030497" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img02.liwushuo.com/image/160106/x90p9shkg.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title text-overflow" style="width:290px;">过年换新装，学生党也买的起的美衣</div>




                        <div class="pitem-content">小的时候很喜欢过年，其中一个很重要的原因就是有压岁钱还有新衣服穿。虽然现在长大了新衣服可以经常买，但是还是很期待过...</div>


                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1032449" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img01.liwushuo.com/image/160120/jxj7qm4f2.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title text-overflow" style="width:290px;">送礼不求人，12星座情人节礼物都在这</div>




                        <div class="pitem-content">新年都要到了，情人节还会远吗？小礼君掐指一算你一定在为送什么礼物而烦恼，不用烦恼你有小礼君你怕谁~现在微博上面各种...</div>


                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1032028" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img01.liwushuo.com/image/160118/fgyr2mu86.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title text-overflow" style="width:290px;">用时间记录爱，送他怦然“芯”动的品质手表</div>




                        <div class="pitem-content">现在很多人都没有戴表的习惯，看时间的时候会习惯性的拿起手机。其实手表是非常重要的，尤其对于职场男士来说，手表是生活...</div>


                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1026134" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img02.liwushuo.com/image/151208/tnwdgyyot.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title  text-overflow" style="width:290px;">「涨知识」明星长得漂亮就是因为眉眼距离短？</div>




                        <div class="pitem-content">看了这么多明星美照才发现：长得好不好看其实是由眼眉距离决定的！！不信看看下面这个明星，你猜的出来他是谁吗？？小眼睛...</div>


                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>


                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1032904" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img02.liwushuo.com/image/160125/6fetvt2ii.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title  text-overflow" style="width:290px;">新年必入：实用又够chic的高能运动鞋</div>




                        <div class="pitem-content">运动鞋已经成为时尚界的宠儿，街拍中更多看到的不是高跟鞋、皮鞋，而是它，运动鞋！无论是休闲运动风，还是高街范儿，一双...</div>


                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>



                <li class="post-item">
                    <a href="http://www.liwushuo.com/posts/1032309" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url(http://img01.liwushuo.com/image/160120/weg4rxalc.jpg-w720);background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

                        <div class="pitem-title  text-overflow" style="width:290px;">亲朋好友来做客，没有美味热饮可不行</div>




                        <div class="pitem-content">过年了，走亲戚访朋友可是最重要的，招待亲朋好友也同样重要。所以嘛，一定要准备好吃的好喝的伺候着，好吃的就不用说了，...</div>


                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like" data-id="1030611"></i>
                                <span>收藏（797）</span>
                            </li>                                   
                        </ul>
                    </a>

                </li>
                <div class="cl"></div>

            </ul>
            <div class="cl"></div>
            <div class="get-more-line">
                <a  href="#">更多专题</a>
            </div>
        </div>



    </div>
</div>

<div class="blank20"></div>
<div class="blank20"></div>
<div class="content" style="width:100%;background-color:#fff;">
    <div class="blank20"></div>
    <div class="zhuanti middle">
        <div class="title">
            <div class="f-20 f-l">
                好吃推荐
            </div> 
            <div class="f-r mr-5 mt-10">
                <div class="pg-tmentry r pg-gray-link">
                    <span style="color:#666">口味：</span>
                    <a href="#" target="_blank">全部</a>
                    <a href="#" target="_blank">酸</a>
                    <a href="#" target="_blank">甜</a>
                    <a href="#" target="_blank">苦</a>
                    <a href="#" target="_blank">辣</a>
                    <a href="#" target="_blank">咸</a>
                </div>
            </div>
        </div>
        <div class="blank20"></div>
        <div class="zhuanti_list">
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>

            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>

            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>

            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>




        </div>




    </div>
</div>
