<include file="Public:header" />
<!--banner图-->
<div class="blank20"></div>

<div style="background-image: url(__APP__/Public/public/banner.jpg); background-color:#FF6633; opacity: 1;" class="slider-banner">
</div>
<div class="blank20"></div>
<div class="contents middle">
    <div class="zhuanti">
        <div class="title">
            <div class="f-20">
                精选专题
            </div>                    
        </div>
        <div class="blank20"></div>
        <div class="zhuanti_list">
            <ul class="reco-list" id="reco-list">
               <volist name="zhuanti_inf" id="vo">
                   <li class="post-item">
                    <a href="__APP__/Index/post/id/{$vo.id}" class="pitem" target="_blank">
                        <div class="pitem-cover" style="background: url({$vo.img});background-size:cover;background-position:50% 50%;"></div>
                        <!--下面这个是NEW-->
                        <!--<div class="new-flag flag-1030611"></div>-->
                        <div class="pitem-title text-overflow">
                            {$vo.title}
                        </div>
                        <div class="pitem-content text-overflow" style="height:70px;white-space: pre-wrap">{$vo.description}
                        </div>
                        <ul class="pitem-info">
                            <li class="info-item">
                                <i class="info-icon icon-like"></i>
                                <span>收藏（{$vo.collect}）</span>
                            </li>                                   
                        </ul>
                    </a>
                    </li>
               </volist>
               <div class="cl"></div>

            </ul>
            <div class="cl"></div>
            <div class="get-more-line">
                <a  href="__APP__/Index/zhuanti">更多专题</a>
            </div>
        </div>
    </div>
</div>

<div class="blank20"></div>
<div class="blank20"></div>
<div class="content" style="width:100%;background-color:#fff;">
    <div class="blank20"></div>
    <div class="zhuanti middle">
        <div class="title">
            <div class="f-20 f-l">
                好吃推荐
            </div> 
            <div class="f-r mr-5 mt-10">
                <div class="pg-tmentry r pg-gray-link">
                    <span style="color:#666">口味：</span>
                    <a href="#" target="_blank">全部</a>
                    <a href="#" target="_blank">酸</a>
                    <a href="#" target="_blank">甜</a>
                    <a href="#" target="_blank">苦</a>
                    <a href="#" target="_blank">辣</a>
                    <a href="#" target="_blank">咸</a>
                </div>
            </div>
        </div>
        <div class="blank20"></div>
        <div class="zhuanti_list">
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>

            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>

            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>

            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>




        </div>




    </div>
</div>

<include file="Public:footer" />
