    <include file="Public:header" /> 
    <style>
        .footer{
            background-color: #fff;
        }
    </style>
        <div class="blank20"></div>
        <div class="contents middle">
            <div class="zhuanti">
                <div class="blank20"></div>
                <div class="blank20"></div>
                <div class="blank20"></div>
                <div style="background-color:#fff;position: relative;">
                    <img class="f-l" src="{$zhuanti_detail['img']}" alt="{$zhuanti_detail['title']}" />
                    <div class="f-l pl-10 pr-10" style="width:284px;height:329px;" >
                        <h1 class="f-18 ">{$zhuanti_detail['title']}</h1>
                        <p class="f-14" style="color:#666;text-indent:2em;line-height:24px;text-align:justify;">又过了一年，每。有时候也会怀念小时候浓浓的年味。盼了好久的新衣服，怎么看都看不够的烟花，还有家里摆放的满满的瓜果。朋友家人的问候与关怀犹在耳边，那样的年，长大以后仿佛渐渐走远了。今年我们就来拯救年味吧！放下手机，抬头看看父母，看看身边的家人，再看看处处都是年味的家，有时候幸福越是朴实越是幸福。</p>
                        
                    </div>
                   
                    <div class="cl"></div>
                </div>
                
                <div class="blank20"></div>
                <div>
                    <div class="f-l">
                        <a class="Hui-iconfont f-30 l-24 likes">&#xe649;</a>
                        <span class="l-14">{$zhuanti_detail['collect']}</span>
                    </div>
                    <div class="jiathis_style_24x24 Hui-share cl f-r">
                        <a class="jiathis_button_weixin Hui-iconfont">&#xe694;</a>
                        <a class="jiathis_button_cqq Hui-iconfont">&#xe67b;</a>
                        <a class="jiathis_button_tsina Hui-iconfont">&#xe6da;</a>
                        <a class="jiathis_button_qzone Hui-iconfont">&#xe6c8;</a>    	
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis Hui-iconfont" target="_blank">&#xe715;</a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    
                </div>
                <div class="cl blank20"></div>
                <div class="zhuanti_list ">
                  
                    <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img5.duitang.com/uploads/item/201601/27/20160127101132_kcHRU.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201601/18/20160118183546_SnVBc.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>

            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/23/20160123102901_dJHrP.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/24/20160124182438_wE3Rh.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://img4q.duitang.com/uploads/people/201601/22/20160122134935_QGP5e.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
            <div class="album-item f-l">
                <a href="#">
                    <div class="album-img">
                        <img src="http://cdn.duitang.com/uploads/item/201512/14/20151214143201_dSRk8.thumb.224_224_c.jpeg"> 
                    </div>
                    <div class="album-title" style="background-color:#fff;">
                        <div class="text-overflow" style="width:170px;">小型文本，是父容器字体大小大小的85%</div>
                        <div class="themcolor">
                            ￥ 8.00
                        </div>
                    </div>
                </a>
                <div class="album-bg">
                    <div class="album-bg-Fir"></div>
                    <div class="album-bg-Sec"></div>
                </div>
            </div>
                        
                    <div class="cl"></div>
                </div>




            </div>
        </div>

        <div class="blank20"></div>

      <include file="Public:footer" /> 
       <script type="text/javascript">
            $(function() {
                $(".likes").click(function() {
                    $(this).html("&#xe680;");
                    var obj = $(this).next();
                    obj.fadeOut(300);
                    //以下通过ajax成功返回
                    var num = parseInt(obj.text());
                    obj.text(num + 1).fadeIn(300);
                });
            });
        </script>