<include file="Public:header" /> 

<style>
    .footer{
        background-color: #fff !important;
    }
</style>    
        <div class="blank20"></div>
        <div class="contents middle">
            <div class="zhuanti">
                <div class="blank20"></div>
                <div class="blank20"></div>
                <div class="blank20"></div>
                <div class="blank20"></div>
                <div class="zhuanti_list">
                    <ul class="reco-list" id="reco-list">
                    </ul>
                    <div class="cl"></div>
                    
                </div>



            </div>
        </div>
<include file="Public:footer" />